/* STARTING PRODUCT MODAL STYLINGS */
.productFormModalContainter {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
}
.productFormModalContainter .addProductBtn {
  height: 40px;
  width: 150px;
}
.productFormModalContainter .productModal .productForm {
  max-width: 600px;
}
.sizeItemContainer :nth-child(3) {
  position: relative;
}
.sizeItemContainer .ant-space-item .ant-btn {
  background-color: red;
  position: absolute;
  transform: translateY(46%);
}
.sizeItemContainer .ant-space-item .ant-btn span {
  width: 25px !important;
  color: white !important;
}
.productForm .addSizeBtn {
  margin-bottom: 18px;
}
.productImg {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}
.searchContainer {
  padding: 12px;
  margin: 5px;
}
.searchContainer .searchInput {
  margin-bottom: 8px;
  display: block;
}
/* ENDING PRODUCT MODAL STYLINGS */


/* STARTING PRODUCT LIST STYLINGS */
.productActions .edit {
  color: orange;
  font-size: 18px;
  cursor: pointer;
  padding-right: 20px;
}
.productActions .delete {
  color: red;
  font-size: 18px;
  cursor: pointer;
}
/* ENDING PRODUCT LIST STYLINGS */
