.ant-btn-default,
.ant-btn-dashed {
  background-color: #fafafa;
  border-color: #d9d9d9;
}
.ant-btn-default:hover,
.ant-btn-dashed:hover {
  border-color: #19647e !important;
  color: #19647e !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
.ant-btn-primary {
  background-color: #19647e;
}
.ant-btn-primary:hover {
  background-color: rgba(25, 100, 126, 0.8) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.ant-btn-text {
  background-color: #8ba6a9;
}
.ant-btn-text:hover {
  background-color: #8ba6a9 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.ant-btn-link {
  background-color: #39a9db;
}
.ant-btn-link:hover {
  background-color: #39a9db !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.ant-btn:focus-visible,
.ant-btn-primary:focus-visible,
.ant-btn-text:focus-visible,
.ant-btn-link:focus-visible,
.ant-btn-dashed:focus-visible,
.ant-btn-default:focus-visible {
  outline: unset !important;
}
.bg-success {
  background-color: #00916e;
  color: #ffffff;
}
.bg-warning {
  background-color: #ffcf00;
  color: #000000;
}
.bg-danger {
  background-color: #fa003f;
  color: #ffffff;
}
.text-link {
  color: #39a9db;
  cursor: pointer;
  font-weight: bold;
}
