/* START HEADER STYLINGS */
.headerWrapper {
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
}
.headerWrapper .ant-row {
  padding-top: 6px;
  padding-bottom: 6px;
}
.headerWrapper .logoContainer,
.headerWrapper .accountGroupContainer,
.headerWrapper .ant-row .ant-col .ant-flex {
  height: 100%;
}
.headerWrapper .logoContainer .logo {
  width: 18%;
}
.headerWrapper .catalogText {
  color: #303841;
  font-weight: bold;
  font-size: 18px;
  min-width: 120px;
  height: 48px;
  justify-content: center;
}
.headerWrapper .ant-space {
  width: 120px;
  height: 48px;
  justify-content: center;
}
.headerWrapper .ant-space:hover,
.headerWrapper .catalogText:hover {
  cursor: pointer;
  background-color: #FF6F3C;
  color: #ffffff;
  font-weight: bold;
  border-radius: 48px;
}
.headerWrapper .accountText {
  color: #303841;
  font-weight: bold;
}
.headerWrapper .ant-space:hover .anticon-shopping-cart {
  color: #ffffff;
}
.searchContainer .ant-input-affix-wrapper {
  border-radius: 18px;
  height: 36px;
}
.headerWrapper .anticon {
  font-size: 22px;
}
/* END HEADER STYLINGS */


/* START ADMIN HEADER STYLINGS */
.adminHeaderWrapper {
  height: 86px;
  background-color: #E5BA73;
}
.adminHeaderWrapper .logoContainer {
  width: 260px;
  height: 100%;
  background-color: #FAEAB1;
}
.adminHeaderWrapper .logoContainer img {
  width: 58px;
}
.headerWrapper .logoContainer .logo:hover,
.adminHeaderWrapper .logoContainer img:hover {
  cursor: pointer;
}
/* END ADMIN HEADER STYLINGS */
