/* START HEADER STYLINGS */
.headerWrapper {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #B0A695;
}
.headerWrapper .ant-row {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.headerWrapper .logoContainer,
.headerWrapper .accountGroupContainer {
  height: 100%;
}
.headerWrapper .logoContainer .logo {
  height: 48px;
}
.headerWrapper .catalogContainer {
  width: 50%;
}
.headerWrapper .catalogText {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  min-width: 120px;
  height: 48px;
  justify-content: center;
}
.headerWrapper .accountGroupContainer .accountText,
.accountGroupContainer .currentUserText,
.accountGroupContainer .shoppingCartText {
  color:#8c8c8c;
  font-weight: bold;
}
.headerWrapper .accountGroupContainer .accountText:hover,
.accountGroupContainer .currentUserText:hover {
  cursor: pointer;
}
.headerWrapper .catalogText:hover {
  background-color: #F3EEEA;
  color: #776B5D;
  opacity: 0.8;
  border-radius: 28px;
}
.searchContainer .ant-input-affix-wrapper {
  border-radius: 18px;
  height: 36px;
}
.accountGroupContainer .anticon {
  font-size: 22px;
}
/* END HEADER STYLINGS */
