/* STARTING HOME COMPONENT STYLINGS */
.productType {
  padding: 0px 120px;
  margin: 10px;
  align-items: center;
}
.body {
  width: 100%;
  background-color: #F3EEEA;
}
.body .container {
  width: 80%;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 48px;
}
/* .body .container .slick-slider {
  margin-top: 48px;
} */
.body .container .buttonLoadMore {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* ENDING HOME COMPONENT STYLINGS */

/* STARTING CARD COMPONENT STYLINGS */
.card {
  text-align: center;
}
/* ENDING CARD COMPONENT STYLINGS */
