/* STARTING HOME COMPONENT STYLINGS */
.productType {
  padding: 0px 120px;
  margin: 10px;
  align-items: center;
}
.body {
  width: 100%;
  background-color: #ffffff;
}
.body .container {
  width: 80%;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 48px;
}
/* .body .container .slick-slider {
  margin-top: 48px;
} */
.body .container .buttonLoadMore {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* ENDING HOME COMPONENT STYLINGS */

/* STARTING CARD COMPONENT STYLINGS */
.card {
  text-align: center;
}
.orderModalRow .nameAndPriceWrapper {
  height: 100%;
}
.orderModalRow .nameAndPriceWrapper .productNameText {
  font-size: 18px;
}
.orderModalRow .nameAndPriceWrapper .productNameText, 
.orderModalRow .nameAndPriceWrapper .priceText {
  font-weight: bold;
}
.orderModalRow .nameAndPriceWrapper .priceText {
  font-size: 16px;
  color: red;
}
.orderModalRow .ant-space .ant-space-item p {
  margin: 2px;
}
.orderModalRow .nameAndPriceWrapper .inStock {
  font-style: italic;
}
.sizeAndAmountWrapper .ant-space {
  justify-content: space-between;
}
.sizeAndAmountWrapper .orderAmountInput {
  max-width: 92px;
}
.sizeAndAmountWrapper .sizeAndAmountText {
  font-weight: bold;
}
/* ENDING CARD COMPONENT STYLINGS */
